<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593302772212-g3gu5eang8csvpne8g02ge9fc0qji9i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593302772212-g3gu5eang8csvpne8g02ge9fc0qji9i5</string>
	<key>API_KEY</key>
	<string>AIzaSyDHiUG1ETKPMg4YbncgNvbW68rghyFBeY0</string>
	<key>GCM_SENDER_ID</key>
	<string>593302772212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.islamicQuiz</string>
	<key>PROJECT_ID</key>
	<string>islamic-quiz-24f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-quiz-24f0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593302772212:ios:2302ff491383bac13b81a1</string>
</dict>
</plist>